.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
* {
  cursor: default;
}

input,
textarea {
  cursor: text;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body,
html {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

.register {
  position: relative;
  min-height: 100vh;
  background: url("images/initial_background_register.jpeg") no-repeat center
    center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
}

.register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card_register {
  position: relative;
  z-index: 2;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 35px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  margin-bottom: 50px;
  margin-top: 30px;
}
.card_register > h1 {
  color: white;

  font-weight: 800;
  margin: 0;
}

.textfield_register_username {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_register_username > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield_register_username > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_register_username > input::placeholder {
  color: white;
}

.textfield_register_password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield_register_password > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #201b2c;
  color: azure;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield_register_password > label {
  color: azure;
  margin-bottom: 10px;
}
.textfield_register_password > input::placeholder {
  color: white;
}
